<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>$!{exception.httpStatus.statusCode} $!{exception.httpStatus.reasonPhrase}</title>
  </head>
  <body>
    <h1>$!{exception.httpStatus.statusCode} $!{exception.httpStatus.reasonPhrase}</h1>
    <p></p>
  </body>
</html>
